[run]
parallel = True
source = isotopic_logging
omit =
    */features/*
    isotopic_logging/version.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    pass
    def __repr__
