[run]
source = isotopic_logging
omit =
    isotopic_logging/_compat.py
    */features/*
    */tests/*
    */usr/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    pass
    NOQA
